# Intermediate Pandas
![](http://pandas.pydata.org/_static/pandas_logo.png)
**ToC**

 - [Navigating multilevel index](#Navigating-multilevel-index)
   - [Accessing rows and columns](#Accessing-rows-and-columns)
   - [Naming indices](#Naming-indices)
   - [Accessing rows and columns using cross section](#Accessing-rows-and-columns-using-cross-section)

## Navigating multilevel index

In [7]:
import pandas as pd
import numpy as np

In [1]:
# Index Levels
outside = ['G1','G1','G1','G2','G2','G2']
inside = [1,2,3,1,2,3]
hier_index = list(zip(outside,inside)) #create a list of tuples
hier_index

[('G1', 1), ('G1', 2), ('G1', 3), ('G2', 1), ('G2', 2), ('G2', 3)]

In [5]:
#create a multiindex
hier_index = pd.MultiIndex.from_tuples(hier_index)
hier_index

MultiIndex(levels=[['G1', 'G2'], [1, 2, 3]],
           labels=[[0, 0, 0, 1, 1, 1], [0, 1, 2, 0, 1, 2]])

In [8]:
# Create a dataframe (6,2) with multi level index
df = pd.DataFrame(np.random.randn(6,2),index=hier_index,columns=['A','B'])
df

             A         B
G1 1 -1.647150  1.056271
   2 -0.159391 -0.927214
   3 -1.314953 -0.293073
G2 1 -1.135697 -0.962066
   2 -0.304753  0.829451
   3  0.455330 -0.124798

### Accessing rows and columns
You can use `loc` and `iloc` as a chain to access the elements. Go from outer index to inner index

In [10]:
#access columns as usual
df['A']

G1  1   -1.647150
    2   -0.159391
    3   -1.314953
G2  1   -1.135697
    2   -0.304753
    3    0.455330
Name: A, dtype: float64

In [11]:
#access rows
df.loc['G1']

          A         B
1 -1.647150  1.056271
2 -0.159391 -0.927214
3 -1.314953 -0.293073

In [12]:
#acess a single row form inner
df.loc['G1'].loc[1]

A   -1.647150
B    1.056271
Name: 1, dtype: float64

In [14]:
#access a single cell
df.loc['G2'].loc[3]['B']

-0.12479824997165252

### Naming indices
Indices can have names (appear similar to column names)

In [15]:
df.index.names

FrozenList([None, None])

In [17]:
df.index.names = ['Group', 'Serial']
df

                     A         B
Group Serial
G1    1      -1.647150  1.056271
      2      -0.159391 -0.927214
      3      -1.314953 -0.293073
G2    1      -1.135697 -0.962066
      2      -0.304753  0.829451
      3       0.455330 -0.124798

### Accessing rows and columns using cross section
The `xs` method allows to get a cross section. The advantage is it can penetrate a multilevel index in a single step. Now that we have named the indices, we can use cross section effectively

In [22]:
# Get all rows with Serial 1
df.xs(1, level='Serial')

              A         B
Group
G1    -1.647150  1.056271
G2    -1.135697 -0.962066

In [23]:
# Get rows with serial 2 in group 1
df.xs(['G1',2])

A   -0.159391
B   -0.927214
Name: (G1, 2), dtype: float64